### Import Libraries & Dependencies

In [115]:
import pandas as pd
from pathlib import Path
%matplotlib inline

### Read CSV as Pandas DataFrame

In [116]:
file_path = Path("Resources/budget_data.csv")

df = pd.read_csv(file_path)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

### Index Data by Date

In [117]:
df = df.set_index('Date')
df.head()

          Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503

### Access & Clean Data

In [118]:
df.isnull().mean() * 100
df.isnull().sum()

df = df.dropna()

df.isnull().sum()
df.head()

          Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503

In [119]:
df.shape

(86, 1)

In [120]:
rows, columns = df.shape

In [121]:
print(f"Total Months {rows}")

Total Months 86

In [122]:
net_total_amount = df["Profit/Losses"].sum()
print(net_total_amount)

38382578

## Average Changes

In [123]:
df['Change'] = df['Profit/Losses'] - df['Profit/Losses'].shift(1)
Average_Change = round(df['Change'].mean(),2)
print(Average_Change)

-2315.12

## Greatest Increase in Profits

In [124]:
df=pd.read_csv(file_path)
df['Change'] = df['Profit/Losses'].diff()
date_of_max_increase = df.loc[df['Change'].idxmax(),'Date']
amount_of_max_increase = df.loc[df['Change'].idxmax(),'Change']
print(date_of_max_increase, amount_of_max_increase)

Feb-2012 1926159.0

## Greatest Decrease in Profits

In [125]:
df=pd.read_csv(file_path)
df['Change'] = df['Profit/Losses'].diff()
date_of_max_decrease = df.loc[df['Change'].idxmin(),'Date']
amount_of_max_decrease = df.loc[df['Change'].idxmin(),'Change']
print(date_of_max_decrease, amount_of_max_decrease)

Sep-2013 -2196167.0

# FINAL ANALYSIS

In [127]:
print(f"Total Months {rows}")
print(net_total_amount)
print(Average_Change)
print(date_of_max_increase, amount_of_max_increase)
print(date_of_max_decrease, amount_of_max_decrease)

Total Months 86
38382578
-2315.12
Feb-2012 1926159.0
Sep-2013 -2196167.0