### Import Libraries & Dependencies

In [38]:
import pandas as pd
from pathlib import Path

### Read CSV as Pandas DataFrame

In [39]:
file_path = Path("Resources/budget_data.csv")

df = pd.read_csv(file_path)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

### Index Data by Date

In [40]:
df = df.set_index('Date')
df.head()

          Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503

### Access & Clean Data

In [41]:
df.isnull().mean() * 100
df.isnull().sum()

df = df.dropna()

df.isnull().sum()
df.head()

          Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503

### Calculate Daily Returns

In [42]:
df.daily_returns = df.pct_change()
df.daily_returns.head()

/Users/leandrohugo/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

          Profit/Losses
Date
Jan-2010            NaN
Feb-2010       0.134547
Mar-2010      -0.672969
Apr-2010      -1.215572
May-2010      -5.473011

In [43]:
rows, columns = df.shape

In [44]:
print(f"Total Months {rows}")

Total Months 86

In [45]:
net_total_amount = df["Profit/Losses"].sum()
# Total 
print(net_total_amount)

38382578

In [46]:
df['Change'] = df['Profit/Losses'] - df['Profit/Losses'].shift(1)
average_change = df['Change'].mean()
print("average_change is ${:,.2f}".format(average_change))

average_change is $-2,315.12

In [47]:
df=pd.read_csv(file_path)
df['Change'] = df['Profit/Losses'].diff()
date_of_max_increase = df.loc[df['Change'].idxmax(), 'Date']
amount_of_max_increase = df.loc[df['Change'].idxmax(), 'Change']
print(date_of_max_increase)
print(amount_of_max_increase)

Feb-2012
1926159.0

In [48]:
df=pd.read_csv(file_path)
df['Change'] = df['Profit/Losses'].diff()
date_of_max_decrease = df.loc[df['Change'].idxmin(), 'Date']
amount_of_max_decrease = df.loc[df['Change'].idxmin(), 'Change']
print(date_of_max_decrease)
print(amount_of_max_decrease)

Sep-2013
-2196167.0